---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import "./main.css";
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="md:w-[780px] mx-auto">
      <header class="bg-purple p-10 mb-10 text-center">
        <h1 class="font-ttcommons font-bold text-white text-6xl">
          <a href="/">
            Estugram <span class="text-red -ml-5">/</span>
            <span class="text-green -ml-5">Blog</span></a
          >
        </h1>
      </header>
      <main>
        <slot />
      </main>

      <footer class="text-center mt-20 py-10 border-t-2">
        <p class="text-gray-500 [&>a]:mx-2">
          <a
            class="font-bold text-blue bg-blue/20 py-2 px-4 rounded hover:text-blue/70"
            href="https://estugram.app">Estugram</a
          >
          <a class="text-red" href="https://instagram.com/estugram.app"
            >Instagram</a
          >
          <a class="text-red" href="https://twitter.com/estugramapp">Twitter</a>
          <a class="text-red" href="https://facebook.com/estugramapp"
            >Facebook</a
          >
        </p>
        <p class="text-gray-500 my-5">
          Estugram é uma ferramenta gratuita que te ajuda a organizar o estudo
          de uma forma simples e produtiva.
        </p>
      </footer>
    </div>
  </body>
</html>
